body,
main {
  padding: 0px;
  margin: 0px;
  font-family: Lato, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
/* section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#main-cont {
  background-color: white;
}

#about-me-cont,
#experience-cont,
#project-cont {
  width: 100vw;
  height: 100vh;
}

/* NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

#side-nav-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  width: 15vw;
}

/* NAVIGATION CONTENT */
.title {
  width: 85vw;
  margin: 0px 0px 0px 2%;
  font-size: 1.5rem;
  letter-spacing: 0.85rem;
  font-stretch: condensed;
}

.title-dark {
  color: white;
}

.title-light {
  color: black;
}

.link-cont, .link-cont,
#dropdown {
  border-radius: 100%;
  width: 1.75rem;
  height: 1.75rem;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-cont:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.link-cont {
  transform: scale(1);
  transition: transform 0.5s ease;
}

#link,
#link2 {
  font-size: 1.2rem;
}

#icon-cont:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

#icon-cont {
  font-size: 1.2rem;
}

/* FIXME: Menu icons is static when hovered over */
#dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
}

#dropdown:hover #dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* TODO: Add gap between options */
}

/* TODO: Add actions when options are selected */

/* ABOUT ME */
#about-me-cont > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100vh;
}

#light-profile,
#dark-profile {
  width: 50%;
  height: 90%;
}

#dark-profile {
  display: none;
}

#about-me-content {
  width: 45%;
}

/* EXPERIENCE */
#experience-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2 solid black;
}

#exp-1 > img {
  width: 50%;
}


#exp-2 {
  display: none;
}

/* PROJECTS */
#project-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}