html {
  font-family: Helvetica, Arial, sans-serif;
}
body {
  background-color: #ede4e4;
}

body,
main,
div,
p {
  padding: 0px;
  margin: 0px;
  font-family: Lato, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

#main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ede4e4;
  gap: 1.5rem;
}

#about-me-cont,
#experience-cont,
#project-cont {
  width: 100vw;
  height: 100vh;
}

/* NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

#side-nav-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  width: 15vw;
}

/* NAVIGATION CONTENT */
.title {
  width: 85vw;
  margin: 0px 0px 0px 2%;
  font-size: 1.5rem;
  letter-spacing: 0.85rem;
  font-stretch: condensed;
}

.link-cont,
.link-cont,
#dropdown {
  border-radius: 100%;
  width: 1.75rem;
  height: 1.75rem;
  border: 3px solid #ede4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-cont:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}

.link-cont {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

#section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 70vw;
}

#about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 2rem;
  border-radius: 1.2rem;
  background-image: url("./assets/random_5.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper_p {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#image-me {
  display: flex;
  height: 99.5%;
  width: 35%;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: green;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0 0 0;
}

#wrapper_p > p {
  line-height: 1.5rem;
  text-indent: 2.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
  font-size: 1rem;
  background-color: #ede4e4;
  padding: 0rem 0.5rem 0rem 0.5rem;
  /* backdrop-filter: blur(20px); */
  width: 65%;
}

#experience {
  width: 70vw;
  /* height: 100vh; */
}

#symvara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects-layout {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-areas: "experience-title symvara symvarac";
  gap: 5px;
}

#experience {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 8%;
}

#pro-title {
  text-align: center;
  font-size: 2rem;
}

#experience-title {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#jobs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: 100%;
}

#symvara {
  width: 75%;
  height: 70%;
  background-color: #fcfcfc;
  border-radius: 1.2rem;
  box-shadow: 3px 2px 2px black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding: 5px 0 0 0;
  gap: 4%;
}

#sym-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 10px 0 0;
  text-align: center;
  padding: 0 0 5px 0;
}

#sym-range {
  font-size: 1.1rem;
  color: #4a4848;
  text-align: center;
}

#sym-des-cont {
  display: flex;
  justify-content: center;
}

#sym-des {
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 0 5% 0 5%;
  text-align: center;
}

#sym-details-cont {
  width: 80%;
}

#sym-details {
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 0 5% 0 5%;
}

#sym-details > li {
  margin: 0 0 0.5rem 0;
}

#sym-lan-cont {
  width: 90%;
}

#sym-lan {
  text-align: center;
  letter-spacing: 0.02rem;
  padding: 0 0 15px 0;
}

hr {
  width: 25%;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80vh;
  width: 100%;
  gap: 15px;
}

#nuclear-sim,
.todo-projects {
  height: 60%;
  width: calc(100% / 3);
  background-color: white;
  border-radius: 2.5%;
}

.todo-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    43deg,
    white 40%,
    #ede4e4 40%,
    #ede4e4 60%,
    white 60%,
    white 100%
  );
}

.todo-projects > p {
  transform: rotate(45deg);
  font-size: 1.5rem;
  text-align: center;
  display: flex;
}

/* 
  Why is the image clipping 
  When refressed, white line appears between backdrop and image for 3 seconds and disappears 
*/

#nuclear-sim {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("./assets/nuclear.svg");
  image-rendering: crisp-edges;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#nuclear-sim > p {
  font-size: 1.5rem;
  color: white;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(60%);
}

/* Custom cursor not working */
.todo-projects {
  cursor: url("./assets/hammer.jpg"), auto;
}
/* #nuclear-tip {
  width: 100%;
  height: 30%;
  background-color: white;
  transition: opacity 0.5s ease; 
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 2.5%;
  border-bottom-right-radius: 2.5%;
}

#nuclear-tip:hover {
  transition: opacity 1s ease; 
  opacity: 1;
  cursor: pointer;
}

#nuclear-tip > p {
  text-align: center;
  font-size: 1.5rem;
} */

/* How to have child commit actions when parent is hovered? */

/* 
 Unable to zoom-in on hover since background-size is modified. 
 Only works when background-size is set to 100. This won't work since its 
 becomes very small 
*/
