html {
  font-family: Helvetica, Arial, sans-serif;
}

body,
main,
div {
  padding: 0px;
  margin: 0px;
  font-family: Lato, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

#main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ede4e4;
  gap: 1.5rem;
}

#about-me-cont,
#experience-cont,
#project-cont {
  width: 100vw;
  height: 100vh;
}

/* NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

#side-nav-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  width: 15vw;
}

/* NAVIGATION CONTENT */
.title {
  width: 85vw;
  margin: 0px 0px 0px 2%;
  font-size: 1.5rem;
  letter-spacing: 0.85rem;
  font-stretch: condensed;
}

.link-cont,
.link-cont,
#dropdown {
  border-radius: 100%;
  width: 1.75rem;
  height: 1.75rem;
  border: 3px solid #ede4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-cont:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}

.link-cont {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

#section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 70vw;
}

#about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 2rem;
  border-radius: 1.2rem;
  background-image: url("./assets/random_5.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper_p {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#image-me {
  display: flex;
  height: 99.5%;
  width: 35%;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: green;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0 0 0;
}

#wrapper_p > p {
  line-height: 1.5rem;
  text-indent: 2.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
  font-size: 1rem;
  background-color: #ede4e4;
  padding: 0rem 0.5rem 0rem 0.5rem;
  /* backdrop-filter: blur(20px); */
  width: 65%;
}

#experience {
  width: 70vw;
  /* height: 100vh; */
}

#symvara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects-layout {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-areas: "experience-title symvara symvarac";
  gap: 5px;
}

#experience {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 8%;
}

#pro-title {
  text-align: center;
  font-size: 2rem;
}

#experience-title {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#jobs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: 100%;
}

#symvara {
  margin: 3.5% 0 0 0;
  width: 60%;
  height: 70%;
  background-color: #fcfcfc;
  border-radius: 1.2rem;
  box-shadow: 3px 2px 2px black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

#sym-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 10px 0 0;
}

#sym-range {
  font-size: 1.1rem;
  color: #4a4848;
}

#sym-des-cont {
  display: flex;
  justify-content: center;
}

#sym-des {
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 0 5% 0 5%;
  text-align: center;
}

#sym-details-cont {
  width: 80%;
}

#sym-details {
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 0 5% 0 5%;
}

/* 
 Unable to zoom-in on hover since background-size is modified. 
 Only works when background-size is set to 100. This won't work since its 
 becomes very small 
*/
